/** Ionic CSS Variables - Rockstar dark theme **/
:root {
  --ion-color-primary: #b91c1c;
  --ion-color-primary-rgb: 185, 28, 28;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #a31818;
  --ion-color-primary-tint: #c13333;

  --ion-color-secondary: #52525b;
  --ion-color-secondary-rgb: 82, 82, 91;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #484850;
  --ion-color-secondary-tint: #636370;

  --ion-color-dark: #18181b;
  --ion-color-dark-rgb: 24, 24, 27;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #151516;
  --ion-color-dark-tint: #2f2f33;

  --ion-color-medium: #71717a;
  --ion-color-medium-rgb: 113, 113, 122;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #63636a;
  --ion-color-medium-tint: #7f7f87;

  --ion-color-light: #fafafa;
  --ion-color-light-rgb: 250, 250, 250;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #dcdcdc;
  --ion-color-light-tint: #fbfbfb;

  --ion-background-color: #080808;
  --ion-text-color: #fafafa;
  --ion-toolbar-background: #000000;
  --ion-tab-bar-background: #0c0c0c;
}
